.banner {
  height: 448px;
  color: white;
  object-fit: contain;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.4rem;
}

.banner_description {
  width: 45rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  max-width: 360px;
}

.banner_button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;
  color: #fff;
  /* font-size: ; */
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.1rem;
  font-weight: 500;
  background-color: rgba(53, 50, 50, 0.5);
  width: 100px;
  transition: all 0.3s;
}

.banner_button:hover {
  background-color: rgb(36, 32, 32);
  color: #fff;
}

.banner_fadeBottom {
  height: 7.6rem;
  /*to give bottom of the banner light shade effect */
  background: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61));
}
