.row {
  margin-left: 20px;
}

.row_title {
  color: #fff;
  padding: 15px;
  font-size: 25px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  /* overflow-x: scroll sows scroll bar on x axis */
  overflow-x: scroll;
  padding: 20px;
  /* if we dnt give padding, on hover image grows but bottom part will be covered by scroll so give some padding */
}

.row_posters::-webkit-scrollbar {
  display: none;
  /* hide scrollbar but keep its functionality */
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 350ms;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterLarge {
  max-height: 250px;
}
.row_posterLarge:hover {
  height: 250px;
  transform: scale(1.09);
  /* opacity: 1; */
}
